body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.A{
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: end;
    padding: 32px;
    margin-right: 100px;
}
